.container {
  background-color: whitesmoke;
}

.list {
  width: 70%;
  background-color: white;
  margin: auto;
}

.list h1 {
  text-align: center;
}

.user {
  background-color: rgb(157, 181, 226);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


h1,h3,p{
  margin: 0;
  padding: 0;
}

.posts {
  background-color: rgb(197, 209, 232);
  padding: 20px;
}

.post {
  background-color: rgb(214, 166, 132);
  margin: 5px;
  padding: 5px;
}

